Proxy/bin/Debug/net6.0/appsettings.Development.json
Proxy/bin/Debug/net6.0/appsettings.json
Proxy/bin/Debug/net6.0/Proxy.deps.json
Proxy/bin/Debug/net6.0/Proxy.dll
Proxy/bin/Debug/net6.0/Proxy.exe
Proxy/bin/Debug/net6.0/Proxy.pdb
Proxy/bin/Debug/net6.0/Proxy.runtimeconfig.json
Proxy/bin/Release/net6.0/appsettings.Development.json
Proxy/bin/Release/net6.0/appsettings.json
Proxy/bin/Release/net6.0/Proxy.deps.json
Proxy/bin/Release/net6.0/Proxy.dll
Proxy/bin/Release/net6.0/Proxy.exe
Proxy/bin/Release/net6.0/Proxy.pdb
Proxy/bin/Release/net6.0/Proxy.runtimeconfig.json
Proxy/bin/Release/net6.0/publish/appsettings.Development.json
Proxy/bin/Release/net6.0/publish/appsettings.json
Proxy/bin/Release/net6.0/publish/Proxy.exe
Proxy/bin/Release/net6.0/publish/Proxy.pdb
Proxy/bin/Release/net6.0/publish/web.config
Proxy/bin/Release/net6.0/win-x64/appsettings.Development.json
Proxy/bin/Release/net6.0/win-x64/appsettings.json
Proxy/bin/Release/net6.0/win-x64/Proxy.deps.json
Proxy/bin/Release/net6.0/win-x64/Proxy.dll
Proxy/bin/Release/net6.0/win-x64/Proxy.exe
Proxy/bin/Release/net6.0/win-x64/Proxy.pdb
Proxy/bin/Release/net6.0/win-x64/Proxy.runtimeconfig.json
Proxy/obj/project.assets.json
Proxy/obj/project.nuget.cache
Proxy/obj/Proxy.csproj.nuget.dgspec.json
Proxy/obj/Proxy.csproj.nuget.g.props
Proxy/obj/Proxy.csproj.nuget.g.targets
Proxy/obj/staticwebassets.pack.sentinel
Proxy/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Proxy/obj/Debug/net6.0/Proxy.AssemblyInfo.cs
Proxy/obj/Debug/net6.0/Proxy.AssemblyInfoInputs.cache
Proxy/obj/Debug/net6.0/Proxy.assets.cache
Proxy/obj/Debug/net6.0/Proxy.csproj.AssemblyReference.cache
Proxy/obj/Debug/net6.0/Proxy.GeneratedMSBuildEditorConfig.editorconfig
Proxy/obj/Debug/net6.0/Proxy.GlobalUsings.g.cs
Proxy/obj/Release/net6.0/_IsIncrementalBuild
Proxy/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Proxy/obj/Release/net6.0/apphost.exe
Proxy/obj/Release/net6.0/Proxy.AssemblyInfo.cs
Proxy/obj/Release/net6.0/Proxy.AssemblyInfoInputs.cache
Proxy/obj/Release/net6.0/Proxy.assets.cache
Proxy/obj/Release/net6.0/Proxy.csproj.AssemblyReference.cache
Proxy/obj/Release/net6.0/Proxy.csproj.CoreCompileInputs.cache
Proxy/obj/Release/net6.0/Proxy.csproj.FileListAbsolute.txt
Proxy/obj/Release/net6.0/Proxy.dll
Proxy/obj/Release/net6.0/Proxy.GeneratedMSBuildEditorConfig.editorconfig
Proxy/obj/Release/net6.0/Proxy.genruntimeconfig.cache
Proxy/obj/Release/net6.0/Proxy.GlobalUsings.g.cs
Proxy/obj/Release/net6.0/Proxy.MvcApplicationPartsAssemblyInfo.cache
Proxy/obj/Release/net6.0/Proxy.pdb
Proxy/obj/Release/net6.0/PublishOutputs.8b31e302b5.txt
Proxy/obj/Release/net6.0/staticwebassets.build.json
Proxy/obj/Release/net6.0/staticwebassets.publish.json
Proxy/obj/Release/net6.0/PubTmp/Out/appsettings.Development.json
Proxy/obj/Release/net6.0/PubTmp/Out/appsettings.json
Proxy/obj/Release/net6.0/PubTmp/Out/Proxy.deps.json
Proxy/obj/Release/net6.0/PubTmp/Out/Proxy.dll
Proxy/obj/Release/net6.0/PubTmp/Out/Proxy.exe
Proxy/obj/Release/net6.0/PubTmp/Out/Proxy.pdb
Proxy/obj/Release/net6.0/PubTmp/Out/Proxy.runtimeconfig.json
Proxy/obj/Release/net6.0/PubTmp/Out/web.config
Proxy/obj/Release/net6.0/ref/Proxy.dll
Proxy/obj/Release/net6.0/refint/Proxy.dll
Proxy/obj/Release/net6.0/win-x64/_IsIncrementalBuild
Proxy/obj/Release/net6.0/win-x64/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Proxy/obj/Release/net6.0/win-x64/apphost.exe
Proxy/obj/Release/net6.0/win-x64/Proxy.AssemblyInfo.cs
Proxy/obj/Release/net6.0/win-x64/Proxy.AssemblyInfoInputs.cache
Proxy/obj/Release/net6.0/win-x64/Proxy.assets.cache
Proxy/obj/Release/net6.0/win-x64/Proxy.csproj.AssemblyReference.cache
Proxy/obj/Release/net6.0/win-x64/Proxy.csproj.CoreCompileInputs.cache
Proxy/obj/Release/net6.0/win-x64/Proxy.csproj.FileListAbsolute.txt
Proxy/obj/Release/net6.0/win-x64/Proxy.dll
Proxy/obj/Release/net6.0/win-x64/Proxy.GeneratedMSBuildEditorConfig.editorconfig
Proxy/obj/Release/net6.0/win-x64/Proxy.genruntimeconfig.cache
Proxy/obj/Release/net6.0/win-x64/Proxy.GlobalUsings.g.cs
Proxy/obj/Release/net6.0/win-x64/Proxy.MvcApplicationPartsAssemblyInfo.cache
Proxy/obj/Release/net6.0/win-x64/Proxy.pdb
Proxy/obj/Release/net6.0/win-x64/PublishOutputs.3418e6e77b.txt
Proxy/obj/Release/net6.0/win-x64/PubTmp/Out/appsettings.Development.json
Proxy/obj/Release/net6.0/win-x64/PubTmp/Out/appsettings.json
Proxy/obj/Release/net6.0/win-x64/PubTmp/Out/Proxy.exe
Proxy/obj/Release/net6.0/win-x64/PubTmp/Out/Proxy.pdb
Proxy/obj/Release/net6.0/win-x64/PubTmp/Out/web.config
Proxy/obj/Release/net6.0/win-x64/ref/Proxy.dll
Proxy/obj/Release/net6.0/win-x64/refint/Proxy.dll
Proxy/obj/publish/win-x64/project.assets.json
Proxy/obj/publish/win-x64/project.nuget.cache
Proxy/obj/publish/win-x64/Proxy.csproj.nuget.dgspec.json
Proxy/obj/publish/win-x64/Proxy.csproj.nuget.g.props
Proxy/obj/publish/win-x64/Proxy.csproj.nuget.g.targets
Proxy/.vs/ProjectEvaluation/proxy.metadata.v5.1
Proxy/.vs/ProjectEvaluation/proxy.projects.v5.1
Proxy/.vs/Proxy/FileContentIndex/d1d70cdc-9519-4c08-8317-1855dace35cf.vsidx
Proxy/.vs/Proxy/FileContentIndex/e043585d-51fb-42a7-8a87-2d3e1c0f64e6.vsidx
Proxy/.vs/Proxy/FileContentIndex/read.lock
Proxy/.vs/Proxy/config/applicationhost.config
Proxy/.vs/Proxy/v16/.suo
Proxy/.vs/Proxy/v17/.suo
